<p id="notice"><%= notice %></p>

<p>
  <b>Table name:</b>
  <%= @table.table_name %>
</p>

<p>
  <b>Question:</b>
  <%= @table.question_id %>
</p>


<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>
