<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @grain.content %>
</p>

<p>
  <b>Participant:</b>
  <%= @grain.participant_id %>
</p>

<p>
  <b>Table:</b>
  <%= @grain.table_id %>
</p>


<%= link_to 'Edit', edit_grain_path(@grain) %> |
<%= link_to 'Back', grains_path %>
