<!DOCTYPE html>
<html>
<head>
  <title>Uzeema</title>
	<%= render 'layouts/stylesheets' %>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>

<body>
	<static-body class='static-body'>
		<%= yield %>
	</static-body>
</body>

<%= render 'layouts/footer' %>

</html>
