<!DOCTYPE html>
<html>
<%= stylesheet_link_tag 'application', :media => 'all' %>
<head>
  <title>Uzeema</title>
  	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>

<body>
	<static-body class='static-body'>
		<%= yield %>
	</static-body>
</body>

<%= render 'layouts/footer' %>

</html>
